__pycache__
.venv
.vscode

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg

# PyPI
.pypirc

# Run progress database
*.db-shm
*.db-wal
# Database files (too large for GitHub)
*.db
*.db-wal
*.db-shm
