__pycache__
.pytest_cache
.ipynb_checkpoints
.venv
.vscode

# Distribution / packaging
*.egg-info/

# Run progress database
*.db-shm
*.db-wal

# Database files (too large for GitHub)
*.db
*.db-wal
*.db-shm
