__pycache__
.pytest_cache
.ipynb_checkpoints
.venv
.vscode

# Distribution / packaging
*.egg-info/

# Database files
*.pkl
*.db
*.db-wal
*.db-shm

# Don't ignore data from demo notebooks
!pearson-spearman.db
!pearson_spearman_results.pkl
!feature_interactions.db
!feature_interaction_results.pkl
!princess.db
!princess_results.pkl